.screen[scr='login'] {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    display: flex; flex-direction: column; gap: 40px;
    align-items: center; justify-content: center;
    user-select: none; -webkit-user-select: none;
    background: var(--bg);
    color: var(--text);
}
.screen[scr='login'] .logo {
    width: 50px; height: 50px;
}
.screen[scr='login'] .main {
    position: absolute;
    display: flex; flex-direction: column; gap: 20px;
    padding: 20px;
    align-items: center; justify-content: center;
    top: 0; left: 0; bottom: 0; right: 0;
}
.screen[scr='login'] .title {
    font-size: 24px; font-weight: 700;
    font-family: Nunito, sans-serif;
    color: var(--text);
}
.screen[scr='login'] .name {
    font-size: 18px; font-weight: 500;
    font-family: Nunito, sans-serif;
    color: var(--text-2);
}
.screen[scr='login'] input {
    width: 100%; max-width: 300px; height: 40px;
    border: none;
    outline: 1px solid var(--border-input);
    font-size: 16px; font-weight: 500;
    font-family: Nunito, sans-serif;
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 15px; padding-right: 15px;
    background: var(--bg-input);
    color: var(--text);
}
.screen[scr='login'] input::placeholder { color: var(--text-4); }
.screen[scr='login'] .button {
    background: var(--blue);
    color: white;
    height: 40px;
    padding-left: 20px; padding-right: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    font-family: Nunito, sans-serif;
    font-weight: 600;
    line-height: 40px;
    cursor: pointer;
}
.screen[scr='login'] .description {
    color: var(--text-4);
    font-size: 14px;
    font-family: Nunito, sans-serif;
    font-weight: 400;
    text-align: center;
}
